.Friends{
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  h4{
    grid-column-start:1;
    grid-column-end:4;
    color:yellow;
  }
  .Friend{
    display:flex;
    flex-direction:column;
    align-items: center;

    img{
      border-radius:50%;
      width:120px;
    }
    span{
      color:yellow;
    }
  }
}