.textsContainer{
  grid-column-start: 1;
  grid-column-end: 3;
  .errorSpan{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color:red;
    font-size:20px;
    text-transform: uppercase;
  }
}