.post{
  display:grid;
  width:25vw;
  margin:10px auto;
  background:lightgreen;
  border-radius:50px;
  .avatar_wrapper{
    display:flex;
    align-items: center;
    img{
      border-radius:50%;
      width:100px;
    }
    .Name{
      margin-left: 35px;
      font-size:20px;
    }
    button{
      span{
        color:black !important;
         font-weight:bold;
      }
    }
  }
}