.textarea_container{
  margin: 100px auto;
  margin-top: 100px;
  width: 20vw;
  background: lightgreen;
  padding: 20px;
  border-radius: 88px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5fr 1fr;
  .offer_to_write{
    font-size:25px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  button{
    border-radius: 0 0 50px 0px;
  }
  textarea{
    width: 95%;
    font-size:20px;
    margin-left: 5%;
  }
}
