.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
  display:flex;
}

.content{
  background: #61dafb;
  flex-grow:0.8;
  h4{
    color:yellow;
    font-size:35px;
  }
}

