.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
  display:flex;
}

.content{
  background: #61dafb;
  flex-grow:0.8;
  h4{
    color:yellow;
    font-size:35px;
  }

}

@font-face {
  font-family:font_with_light_shadow;
  src: url(./../Rubik_Dirt/RubikDirt-Regular.ttf);
}
@font-face{
  font-family:Babus_font;
  src:url(./../Bebas_Neue/BebasNeue-Regular.ttf);
}